<div class="row">
  <div class="col-11">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="email-column" scope="col">Email Address</th>
          <th scope="col">Name</th>
          <th class="actions-column" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      <% @friends.each do |friend| %>
        <tr>
          <td><%= friend.email %></td>
          <td><%= friend.full_name %></td>
          <td>
            <%= link_to 'Stop following', friendship_path(friend), method: :delete, data:
                  { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-warning'%>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
