<div class="row">
  <div class="col-11">
    <table class="table table-bordered table-hover mb-3">
      <thead>
        <tr>
          <th class="ticker-column" scope="col">Ticker</th>
          <th scope="col">Name</th>
          <th class="price-column"scope="col">Last price</th>
          <th class="actions-column" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      <% @tracked_stocks.each do |stock| %>
        <tr>
          <td><%= stock.ticker %></td>
          <td><%= stock.name %></td>
          <td class="number-cell"><%= stock.last_price %></td>
          <td>
            <%= link_to 'Remove', user_stock_path(stock), method: :delete, data:
                  { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-warning'%>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
