@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #cad5fc !important;
}

h1 {
  color: #002070;
}

.search-area {
  padding-top: 50px;
}

.results-block strong {
    display: inline-block;
    width: 5rem;
}
